*{
    padding: 0px;
    margin: 0px;
}
.nav-form{
         width:500px;
    
}

.right{
    padding-left: 500px;
}

.nav-1{
    background-color: rgb(51,53,69) !important;
    padding-right: 700px;
    
}

.nav-2{
    background-color: rgb(31,37,51);
    padding-left: 5px;
}
.carousel{
    background-color: gray;
    border-radius: 20px;
}


.div-card{
    padding: aut0;
}


.eachSeat{
    width: 50px;
    height: 50px;
    font-size: 15px;
    padding: 5px;
    background-color: white;
    color: green;
    border: 1px solid green;
}
.eachSeat:hover{
    background-color: green;
    color: white;

}
.seatHall{
    width: 70vw;
    height: auto;
    padding: 10px;
    margin: auto;
    border: 3px solid red;
    display: grid;
    grid-template-columns: repeat(10 , 50px);
    column-gap: 20px;
    row-gap: 10px;

}




















